button { 
  outline: none; 
  border: none;
}

body{
  font-family: "Roboto-Mono", monospace;
  background-color: #1a1b1c;
  color:#e6cc67;
}

header{
  margin-bottom: 40px;
}

h2{
  display: inline;
  margin-right: 40px;
}


#typing-input{
  display: block;
  position: absolute;
  margin-top: 10px;
  width: 40%;
  height: 40px;
  font-size: 20px;
  background-color: #1a1b1c;
  color: white;
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  left: 30%;
  top: 80%;
}

span{
  font-size: 45px;
  border-radius: 10px;
  padding: 11px;
  margin: 0px;
  margin-bottom: 0.1em;
  /* letter-spacing: 0.07em; */
  display: inline-block;

}

#words-display{
  /* max-width: 500px; */
  overflow-x: scroll;
  max-width: 60%;
  max-height: 50%;
  margin: auto;
  text-align: left;

  position: absolute;
  margin-left: 20%;
}

#typing-ui{
  text-align: center;

}

#info-main div{
  color: #2bed53;
  margin-bottom: 10px;
}

button{
  padding: 5px 20px;
  font-size: 17px;
  background-color: #ff3636;
  color: white;
  border-radius: 20px;
  cursor: pointer;

}